@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
html{
  height:100vh;
}
body {
  height: 90%;
  background-image: linear-gradient(
    to left bottom,
    #f7f2ec,
    #f2ede1,
    #ebe9d7,
    #e0e6ce,
    #d2e3c8
  );
}

.signIn-out {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.signIn-out #signIn-Img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.signIn-out #signIn-Img img {
  width: 95%;
}

.signIn-out #form {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:10px 50px ;
  border-radius: 0 20px 20px  0;
  background-image: url("../images/bg.png");
}

#form .inputs {
  color: white;
  width: 80%;
  position: relative;
}

#form .inputs label {
  margin: 20px 0 10px 0;
  display: inline-block;
}

#form .inputs input {
  display: block;
  width: 90%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 1px solid #4f6f52;
  height: 30px;
  border: none;
  border-radius: 7px;
  background-color: #f7f2ec;
  padding: 5px 15px;
}

.req {
  color: red;
  display: none;
}

.inputs button {
  display: flex;
  margin: 20px auto;
  padding: 10px 60px;
  font-size: 16px;
  border: 1px solid #f7f2ec;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.inputs button:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  color: #4f6f52;
  background-color: #f7f2ec;
}
input:focus {
  outline: none;
}

.signIn {
  border-bottom: 1px solid white;
  cursor: pointer;
  margin-left: 5px;
}

#signSpan {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

@keyframes horizontal-shaking {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
  25% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
}
  75% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
}
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
}

.shake {
    -webkit-animation: horizontal-shaking 0.5s ease-in-out;
  animation: horizontal-shaking 0.5s ease-in-out;
}

#signIn {
  display: none;
}
p {
  font-size: large;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

.signin {
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 900px) {
  .signIn-out #signIn-Img {
    display: none;
  }
  .signIn-out #form {
    margin-left: 0;
    width: fit-content;
  }
  #form .inputs {
    width: 100%;
  }
}
.tri{
    clip-path: polygon(50% 25%, 0% 100%, 100% 100%);
    background-color: red;
    width: 89px;
    height: 96px;
    transform: rotate(90deg);
    z-index: 1000;
    margin-top: -90px;
}
.rec1{
  background-color: black;
  width: 182px;
  height: 28px;
}
.rec2{
  background-color: white;
  width: 182px;
  height: 28px;
}
.rec3{
  background-color: green;
  width: 182px;
  height: 28px;
}