*{
    padding: 0;
    margin: 0;
}
html{
    height: 100vh;
}
body{
    background-image: linear-gradient(
        to right bottom,
        #f7f2ec,
        #f2ede1,
        #ebe9d7,
        #e0e6ce,
        #d2e3c8
      );
      background-repeat: no-repeat;
      height: 100%;
    }
div{
    padding: 50px 40px;
    width: 70%;
    border-radius:0 0 10px 10px;
    background-color: #86A789;
    margin: 0 auto;
    color: aliceblue;
    text-align: center;
    display: none;
    background-image: url("../images/bg.png");
}
h1{
    padding: 20px;
}
.cont img{
    width: 37%;
}
.palastine{
    position: absolute;
}
.tri{
    clip-path: polygon(50% 25%, 0% 100%, 100% 100%);
    background-color: red;
    width: 89px;
    height: 96px;
    transform: rotate(90deg);
    z-index: 1000;
    margin-top: -90px;
}
.rec1{
  background-color: black;
  width: 182px;
  height: 28px;
}
.rec2{
  background-color: white;
  width: 182px;
  height: 28px;
}
.rec3{
  background-color: green;
  width: 182px;
  height: 28px;
}